streamlit
st-star-rating
streamlit-dynamic-filters
streamlit-shadcn-ui
streamlit-option-menu
streamlit-extras
mkdocs-material
streamlit-authenticator
extra-streamlit-components
streamlit-pretty-notification-box
streamlit-scrollable-textbox